<ion-view view-title="{{clientTitle}}'s tickets">
  <div class="bar bar-subheader 
    item-input-inset bar-light no-padding">

    <label class="item item-input-wrapper">
    
      <i class="icon icon-large ion-ios-search placeholder-icon "></i>
      
      <input type="search" ng-model="query" placeholder="Search">
    </label>
    
  </div>
    <ion-content class="has-subheader " ng-controller="TicketController">
  
  <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>
      <ion-list class="list-inset">
     
      <ion-item class=""
          ng-repeat="item in ctickets =(tickets | filter:
           { client_id: whichClient })" href="#/tab/cticket/{{item.id}}" ng-class="{'activ': item.status_id == 2, 'pending': item.status_id == 1 , 'open': item.status_id == 4, 'closed': item.status_id == 5 }">
        
        <p><span class="on">{{item.title}}</span>  by {{item['get_creator'].name}}</p>
        <p class="tag_line"><time class="clear">{{item.created_at | amCalendar}}</time></p>
       
             <ion-item ng-show="!stickets.length">No ticket with the status: {{statusTitle}}  </ion-item >
      </ion-item>
     
      </ion-list>
    </ion-content>
</ion-view>