

<ion-view hide-nav-bar="true" cache-view="false" >

  <ion-content class="">
   <ion-list class="cards" class='setting'>
   	<ion-item href="#/tab/add_credit" class="sett">
   	<img src="img/coins.png" width="50" height="50">
   		<h4>Credits</h4>
   		<h2>₦0.00</h2>
   		<p>Add credits</p>
   	</ion-item>

  
   	<ion-item class="fs_02 item-icon-right ">
   		Bonus Minutes
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   	<ion-item class="fs_02 item-icon-right icon-small ">
   		Pricing
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   	<ion-item class="fs_02 item-icon-right">
   		Invite/Get free credit
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   	<ion-item class="fs_02 item-icon-right">
   		Reedem voucher
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   	<ion-item class="fs_02 item-icon-right">
   		Payment Settings
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   	<ion-item class="fs_02 item-icon-right">
   		Account activity
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>
   	<ion-item class="fs_02 item-icon-right">
   		Profile
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>
   	<ion-item class="fs_02 item-icon-right">
   		App settings
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>
   	<ion-item class="fs_02 item-icon-right">
   		Support
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   	<ion-item class="fs_02 item-icon-right">
   		Logout
   		<i class="icon icon-small ion-ios-arrow-right  "></i>
   	</ion-item>

   </ion-list>
    

  </ion-content>

</ion-view>