<ion-tabs class="  tabs-outline ">

  <ion-tab title="Contacts" icon="ion-ios-bookmarks-outline"
    href="#/tab/contacts">
    <ion-nav-view name="contacts-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title=""  icon="ion-ios-keypad-outline"
    href="#/tab/dail"> 
    <ion-nav-view name="dail-tab"></ion-nav-view>
  </ion-tab>

 

   <ion-tab title="" icon="ion-ios-home-outline"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
 <ion-tab title="settings" icon="ion-ios-settings"
    href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>