<ion-view hide-nav-bar="true" class="">

  <ion-content class="">

	<ion-list class="cards verify">	
	  <ion-item class="no-border">
	  <img src="../img/test_logo.png" width="200" height="100" class="" />
		<h2 class="padding">Verify Your phone number</h2>


		<intlpn ng-model="phone.number" placeholder="Enter your phone number" default-country="ng" box-header-title="Select your country" box-header-class = "bar-balanced">
			
		</intlpn>
		<a href="#/tab/home" class="button button-balanced fs_01"> Continue</a>
	</ion-item>
	</ion-list>
</ion-content>
</ion-view>